* {
    padding: 0;
    margin: 0;
}

body {
    font-family: iranyekanwebregular, Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: auto;
    padding: 21px 0 7px;
    background-color: rgba(255, 255, 255, .72);
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    transition: all .3s ease;

}

.logo {
    margin: 11px 28px;
}

.header-ul {
    display: flex;
    list-style: none;
}

.header-ul li {
    font-size: 14px;
    margin: 0 15px;
}

.header-ul li a {
    text-decoration: none;
    color: #303030;
}

.header-ul>li:last-child a {
    color: #28457b;
    background-color: rgba(232, 239, 254, .6);
    border-radius: 20px;
    padding: 10px 27px;
    margin-right: 20px;
    font-family: YekanBakhBold;
}

.header-ul>li:last-child a:hover {
    background-color: #fbf6d9;
}

.more-menu {
    display: flex;
}

.more-menu img {
    width: 8px;
    margin-right: 8px;
}

.hamburger-icon {
    width: 27px;
    display: none;
}

.hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
    width: 100%;
    font-family: yekanbakhmedium;
    transform: translateY(-100%);
}

.cross-icon {
    text-align: left;
    padding: 25px 0;
}

.cross-icon img {
    width: 20px;
    margin-left: 30px;
}

.hamburger-menu-items {
    padding: 10px 30px;
}

.hamburger-menu-items ul {
    list-style: none;
}

.hamburger-menu-items a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 3px 0;
}

.hamburger-menu-items div {
    width: 90%;
    height: 1px;
    background-color: #dfe1e4;
    margin: 8px 0;
}

.more-item {
    display: flex;
    align-items: center;
    background-color: #eee;
    padding: 20px 50px;
}

.more-item img {
    margin-right: 5px;
    width: 15px;
}

.more-item a {
    text-decoration: none;
    color: #28457b;
    font-size: .85rem;
}

.show-hamburger-menu {
    animation: fadeindown .25s forwards;
}

#show-more-menu {
    position: relative;
    display: inline-block;
}

#show-more-menu ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-top: 5px solid #f8e88b;
    border-radius: 12px;
    padding: 0;
    list-style: none;
    margin: 0;
    width: 123px;
    display: none;
}


#show-more-menu li {
    margin: 0;
    padding: 10px 20px;
    font-size: .8rem;
    color: black;
}

#show-more-menu li:hover {
    background-color: rgba(232, 239, 254, .6);
}

#show-more-menu:hover ul {
    left: -25px;
    display: block;
}

#show-product-menu {
    position: relative;
    display: inline-block;
}

.product-menu {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    width: 372px;
    display: none;
    justify-content: flex-start;
    margin: 0;
    border-top: 5px solid #f8e88b;
    border-radius: 12px;
    padding: 0;
}

.product-menu p:hover {
    background-color: rgba(232, 239, 254, .6);
}

#show-product-menu:hover .product-menu {
    left: -150px;
    display: block;
}

.product-menu a {
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.product-menu p:first-child {
    color: #000;
    font-size: .95rem;
}

.product-menu p:last-child {
    color: #000;
    font-size: .7rem;
}

.banner {
    width: 1050px;
    display: flex;
    justify-content: space-between;
    padding: 12px 60px 80px;
    background-image: linear-gradient(135deg, #21254e, #2b4a83);
    border-radius: 20px;
    margin: 20px auto;
    padding-top: 100px;
}

.banner-text h3 {
    font-family: yekanbakhheavy;
    font-size: 2rem;
    color: #fff;

}

.banner-text p {
    font-size: 1.15rem;
    color: #fff;
    margin: 25px 0;
    line-height: 2.5rem;
}

.banner-image img {
    width: 500px;
}

.banner-botton {
    margin-top: 60px;
}

.register {
    font-size: 1rem;
    font-family: yekanbakhbold;
    color: #000;
    background-color: #ffd900;
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 10px;

}

.login {
    font-size: 1rem;
    font-family: yekanbakhbold;
    color: #fff;
    background-color: #435a8a;
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
    text-decoration: none;

}

.go-down {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 58px;
}

.go-down div {
    background-image: url("../images/arrowbottom.svg");
    width: 164px;
    height: 78px;

}

.go-down img {
    width: 15px;
    position: relative;
    top: -60px;
}

.online-payment {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1170px;
    margin: auto;
}

.online-payment img {
    margin-right: 30px;
}

.section-image {
    width: 450px;
    height: 480px;
}

.section-text {
    width: 530px;
    margin: 30px;
}

.section-text h2 {
    color: #747480;
    font-weight: 500;
    font-family: YekanBakhMedium;
    font-size: 1.4rem;
    margin: 20px 0 5px;
}

.section-text h3 {
    color: #303030;
    font-weight: 600;
    font-family: YekanBakhHeavy;
    font-size: 2rem;
    margin: 5px 0 10px;
}

.section-text p {
    margin-top: 16px;
    border-bottom: 1px solid #dfe1e4;
    padding-bottom: 20px;
    color: #303030;
    text-align: justify;
    font-family: YekanBakhMedium;
    line-height: 40px;
}

.section-links {
    display: flex;
    margin-top: 40px;
}

.section-links .first-button {
    margin-left: 10px;
    font-size: .9rem;
    font-family: iranyekanwebmedium;
    border-radius: 10px;
    background-color: #ffd900;
    padding: 10px 14px;
    border: none;
    text-decoration: none;
    color: #000;
}

.section-links .second-button {
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: #28457b;
    background-color: rgba(232, 239, 254, 0.7);
    padding: 10px 14px;
    text-decoration: none;
    font-size: .9rem;
    font-family: iranyekanwebmedium;
}

.section-links .second-button img {
    width: 18px;
    height: 15px;
    margin-right: 5px;
}

#zarinkard-text {
    margin-top: 50px;
}

#tashim-img {
    width: 550px;
    height: 450px;
}

#tashim-text {
    width: 500px;
}

.attributes {
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.definition {
    width: 35%;
    margin-top: 50px;
}

.definition {
    margin: 30px 10px;
    font-size: 2rem;
}

.items {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
}

.item img {
    width: 60px;
    height: 60px;
}

.item {
    padding: 18px 25px 20px 0;
}

.item div {
    display: flex;
    align-items: center;
}

.item h4 {
    margin-right: 20px;
    font-size: 1.5rem;
    font-family: yekanbakhheavy;
}

.items p {
    margin: 20px 0 20px 10px;
    line-height: 36px;
    color: #303030;
    font-size: 1rem;
    font-family: yekanbakhmedium;
}

.definition h3 {
    font-size: 2rem;
    font-family: yekanbakhheavy;
}

.definition p {
    width: 85%;
    margin-top: 40px;
    line-height: 40px;
    font-size: 1rem;
}

.first-item {
    border-left: 1px solid rgb(181, 175, 175);
    border-bottom: 1px solid rgb(181, 175, 175);
}

.second-item {
    border-bottom: 1px solid rgb(181, 175, 175);

}

.third-item {
    border-left: 1px solid rgb(181, 175, 175);
}

.start-box {
    width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
    border-radius: 20px;
    height: 220px;
    margin-top: 50px;
}

.start-box h4 {
    font-size: 1.7rem;
    font-family: yekanbakhheavy;
}

.start-box p {
    font-size: 1.4rem;
    font-family: yekanbakhmedium;
    color: #747480;
    margin-top: 10px;
}

.start-box a {
    background-color: #ffd900;
    color: #000;
    border-radius: 10px;
    text-decoration: none;
    font-size: .9rem;
    padding: 4px 14px;
    font-family: iranyekanwebmedium;
    height: 28px;
    line-height: 28px;
    margin-top: 20px;
}


.support {
    width: 1110px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
    background-color: #fbf6f1;
    height: 70px;
    padding: 0 30px;
}

.support-number {
    font-family: yekanbakhheavy;
    font-size: 1.5rem;
}

#line {
    margin: 0 15px;
}

#phone-number {
    color: #21254e;
}

.support-request {
    display: flex;
    color: #21254e;
    font-family: yekanbakhbold;
    font-size: 1.5rem;
}

.support-request img {
    width: 20px;
    margin-right: 10px;
}


footer {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.footer-links {
    width: calc(100% - 330px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
    padding: 0 10px;
}

.footer-links p {
    font-size: 1.3rem;
    font-family: yekanbakhheavy;
    color: #303030;
    margin-top: 15px;
}

.footer-links li {
    padding: 8px 0;
}

.footer-links a {
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    font-family: iranyekanwebmedium;
}

.social-media {
    margin-bottom: 100px;
    width: 330px;
    padding: 0 30px;
}

.social-media p {
    font-family: yekanbakhheavy;
    font-size: 1.3rem;
    color: #303030;
}

.social-media div {
    display: flex;
    margin-top: 20px;
}

.social-media a {
    background-color: #eff4fe;
    border-radius: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.footer-links ul {
    list-style: none;
}

.bell{
    width: fit-content;
    background-color: #2e82ff;
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 50%;
    
}
.bell img{
    width: 40px;
    padding: 7px 7px 0;
}
.afshin {
  background-color: #fbf6f1;
  text-align: center;
  color: grey;
  padding: 10px 0;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content:center;
}
.afshin p{
  font-weight: 500;
  color: #545252;
  margin-right: 10px;

}

@keyframes fadeindown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media(max-width:1200px) {
    header {
        width: 940px;
    }

    .banner {
        width: 900px;
        padding: 60px 40px 120px;
    }

    .banner-image img {
        width: 430px;
    }

    .online-payment {
        width: 940px;
    }

    .attributes {
        width: 924px;
        padding: 0 8px;
        flex-direction: column;
    }

    .definition {
        width: 100%;
        margin-top: 40px;
    }

    .definition p {
        width: 100%;
        margin-top: 30px;
    }

    .item {
        border: none;
        padding: 18px 0 20px 50px;
    }

    .items {
        width: 90%;
        padding: 30px;
    }

    .start-box {
        width: 940px;
    }

    .support {
        width: 880px;
    }
    footer{
        width: 940px;
    }
}

@media(max-width:990px) {
    header {
        width: auto;
        padding: 20px 60px;
    }

    .header-ul>li:last-child {
        display: none;
    }

    .logo {
        margin: 0;
    }

    .header-ul li {
        margin: 0 10px;
    }

    .banner {
        width: auto;
        padding: 40px 40px 85px;
        margin-left: 35px;
        margin-right: 35px;
    }

    .banner-image img {
        display: none;
    }

    .banner-text {
        text-align: center;
    }

    .banner-text p {
        margin: 5px;
        font-size: 1rem;
    }

    .banner-botton {
        margin-top: 40px;
    }

    .online-payment {
        width: auto;
        flex-direction: column;
        align-items: center;
    }

    .section-text {
        width: 95%;
    }

    .attributes {
        width: auto;
        padding: 0 35px;
    }

    .start-box {
        width: calc(100% - 76px);
        margin: 0 38px;
    }

    .support {
        width: calc(100%-120px);
    }

    .support-number,
    .support-request {
        font-size: 1.2rem;
    }
    footer{
        flex-direction: column;
        width: calc(100% - 60px);
    }
    .footer-links{
        width: 100%;
    }
    .social-media{
        padding: 0 10px;
    }

}

@media(max-width:768px) {
    header {
        width: auto;
        padding: 10px 8px;
    }

    .header-ul {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }

    .banner {
        margin-left: 8px;
        margin-right: 8px;
    }

    .section-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .online-payment img {
        width: 460px;
        height: 480px;
    }

    .definition {
        text-align: center;
        margin-top: 90px;
    }

    .definition h3 {
        font-size: 1.6rem;
    }

    .items {
        width: 100%;
        padding: 5px 0;
    }

    .item {
        padding: 18px 0 20px 20px;
    }

    .start-box {
        width: calc(100% - 16px);
        margin: 0 8px;
    }

    .support {
        flex-direction: column;
        align-items: flex-start;
        background: none;
    }

    .support-request {
        background-color: #fbf6f1;
        padding: 5px 20px;
        border-radius: 35px;
        margin-top: 20px;
    }
    .footer-links{
        grid-template-columns: repeat(2,1fr);
    }
    .footer-links div{
        margin-top: 25px;
    }
    footer{
        width: calc(100% - 120px);
        margin: 0 60px;
    }
}

@media(max-width:575px) {
    .banner {
        padding: 80px 40px;
    }

    .banner-text h3 {
        font-size: 1.2rem;
        text-align: right;
        padding-bottom: 20px;
    }

    .banner-text p {
        text-align: justify;
    }

    .online-payment .section-image {
        display: none;
    }

    .section-text {
        width: 80%;
        padding: 0 10px;
    }

    .section-text h3 {
        font-size: 1.5rem;
    }

    .items {
        padding: 50px 0;
        grid-template-columns: 1fr;
    }

    .item {
        padding: 18px 0;
    }

    .start-box {
        height: 180px;
    }

    .start-box h4 {
        font-size: 1.2rem;
    }

    .start-box p {
        font-size: 1rem;
    }

    .support {
        width: calc(100% - 60px);
        padding: 0;
        margin: 50px 30px;
    }

    .support-number,
    .support-request {
        font-size: .95rem;
    }
    footer{
        width: calc(100% - 60px);
        margin: 0 30px;
    }
    .footer-links p, .footer-links a{
        font-size: .9rem;
    }
    .social-media{
        width: 100%;
        text-align: center;
    }
    .social-media div{
        justify-content: center;
    }
}